<div class="card" *ngIf="OtherClassesData">
  <div class="card-header d-flex justify-content-between mt-3">
    <h5 class="mr-2 my-auto" [translate]="'Classes.OtherClassRegistrations'"></h5>
  </div>
  <div class="card-body">
    <canvas baseChart
      height="250vh"
      [datasets]="charOtherRegistrationsData"
      [labels]="charOtherRegistrationsLabels"
      [options]="charOtherRegistrationsOptions"
      [legend]="charOtherRegistrationsLegend"
      [chartType]="charOtherRegistrationsType"
      [colors]="charOtherRegistrationsColours">
    </canvas>
  </div>
</div>
