<div *ngIf="selectedReport" class="report-card">
  <div class="row" *ngIf="lastError">
    <div class="alert alert-warning" role="alert">
      <span>{{ 'Documents.SignInitError' | translate }}</span><br>
      <small>{{'Details' | translate}}</small>:&nbsp;
      <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
      <small *ngIf="lastError.status == null">{{lastError.message}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 mt-4">
      <ng-container *ngIf="reportForm">
        <h5 [translate]="'Reports.PrintSettings'"></h5>
        <formio #settingsFormReference (change)="onSettingsFormChange($event)" (customEvent)="onCustomEvent($event)"
          (formLoad)="onSettingsFormLoad($event)" [form]="reportForm" [refresh]="refreshSettingsForm"
          [submission]="{ data: formData }"></formio>
      </ng-container>
      <ng-container *ngIf="variablesForm">
        <h5 [translate]="'Reports.ReportVariables'"></h5>
        <formio #variablesFormReference (change)="onVariablesFormChange($event)" [form]="variablesForm"
          [refresh]="refreshVariablesForm"></formio>
      </ng-container>
    </div>
    <div class="col-lg-6 col-md-6">
      <h4 class="text-center mt-4">
        {{selectedReport.name}}
      </h4>
      <h6 class="text-center" *ngIf="selectedReport.reportCategory.name">
        {{selectedReport.reportCategory.name}}
      </h6>
      <div class="text-center py-4">
        <i class="fa fa-file fa-7x text-indigo"></i>
      </div>
      <div class="text-center" *ngIf="selectedReport.dateCreated">
        <span [translate]="'Reports.Attributes.dateCreated'"></span>
        <span>: </span>
        <span>{{selectedReport.dateCreated | date: 'short'}}</span>
      </div>
      <div class="text-center" *ngIf="selectedReport.dateModified">
        <span [translate]="'Reports.Attributes.dateModified'"></span>
        <span>: </span>
        <span>{{selectedReport.dateModified | date: 'short'}}</span>
      </div>
      <!--begin: signature graphic-->
      <div class="mt-4">
        <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,image/png,image/gif'"
          (change)="onFileSelect($event)">
          <ngx-dropzone-label style="z-index: 0" class="p-2">{{'Documents.UploadSignatureGraphic' | translate}}
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview [file]="f" *ngFor="let f of signatures" [removable]="true"
            (removed)="onFileRemove(f)">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <div class="text-center mt-2">
          <span class="text-muted" [translate]="'Documents.SignatureGraphicHelp'"></span>
        </div>
      </div>
      <!--begin: pdf viewer-->
      <ng-container *ngIf="viewerVisible && blob">
        <app-document-download [blob]="blob" [showSignButton]="false" [show]="viewerVisible"
          [documentName]="selectedReport.name"></app-document-download>
      </ng-container>
      <!--end: pdf viewer-->
    </div>
  </div>
</div>
