<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title font-xl text-dark  my-auto" [translate]="'Students.Profile'"></h5>
    <a href="#/students/{{studentId}}/dashboard/general" class="text-primary my-auto my-auto"
       [translate]="'Students.More'"></a>
  </div>
  <div class="card-body pt-0 pb-3">
    <div class="profile_avatar_box text-center mb-3">
      <div class="avatar avatar-12" [ngClass]="{
        'avatar-male-student' : student?.person?.gender.alternateName === 'male',
        'avatar-female-student' : student?.person?.gender.alternateName === 'female' }">
      </div>
      <div><span>{{student?.person?.givenName}} {{student?.person?.familyName}}</span></div>
      <div>
        <span
          [ngClass]="{
           'text-success': student?.studentStatus?.alternateName ==='active',
           'text-danger': student?.studentStatus?.alternateName ==='erased' || student?.studentStatus?.alternateName ==='suspended',
           'text-primary': student?.studentStatus?.alternateName ==='graduated',
           'text-dark': (student?.studentStatus?.alternateName ==='declared' || student?.studentStatus?.alternateName ==='null'),
           'text-info': student?.studentStatus?.alternateName ==='candidate'}"
        >
          {{ 'StudentStatuses.' + student?.studentStatus?.alternateName | translate}}
        </span>
      </div>
    </div>
    <div class="card-text row">
      <div class="col-xl-6 col-lg-12">
        <a href="mailto:{{student?.person?.email}}" class="btn btn-md bg-color-theme text-light w-100 mt-2"
           [translate]="'Students.ContactWithEmail'"></a>
      </div>
      <div class="col-xl-6 col-lg-12">
        <a class="btn btn-md bg-white border-dark w-100 mt-2" (click)="enableMessages()"
           [translate]="'Students.NotifyStudent'"></a>
      </div>
    </div>

    <app-send-message-to-student [showMessageForm]="showMessageForm" [studentId]="[this.studentId]"
                                 (successfulSend)="onsuccesfulSend($event)"></app-send-message-to-student>


  </div>

  <div class="card-footer border-top py-4 text-secondary">
    <div
      *ngIf="student?.studentStatus?.alternateName === 'graduated' || student?.studentStatus?.alternateName === 'declared'">
      <app-students-overview-graduation [studentId]="this.studentId"></app-students-overview-graduation>
    </div>

    <div
      *ngIf="student?.studentStatus?.alternateName === 'active' || student?.studentStatus?.alternateName === 'candidate' || student?.studentStatus?.alternateName === 'suspended'">
      <app-students-overview-active [studentId]="this.studentId"></app-students-overview-active>
    </div>

    <div *ngIf="student?.studentStatus?.alternateName == 'erased'">
      <app-students-overview-removal [studentId]="this.studentId"></app-students-overview-removal>
    </div>
  </div>
</div>
