<div>
  <h4 class="mb-3 ">Dropdown Form</h4>
  <div class="row ">
    <div id="card2" class="col-lg-8 col-md-6 col-sm-12">
      <div class="card shadow-none border border-gray-200 text-secondary">
        <div class="card-body px-3 py-3">
          <a href="javascript:void(0)" class="text-decoration-none text-secondary collapsible card-title mb-0 font-lg font-weight-normal">FORM TITLE
            <i class="ml-3 pt-1 fa fa-chevron-down"></i>
          </a>
          <form class="mt-2 d-none collapsible-form">
            <div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Address</label>
                    <input class="form-control " id="name" type="text" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Postal Code</label>
                    <input class="form-control" id="nfme2" type="text" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">City</label>
                    <input class="form-control" id="nadffe3" type="text" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Country</label>
                    <input class="form-control" id="nam4" type="text" placeholder="Enter your name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Address</label>
                    <input class="form-control" id="nme" type="text" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Postal Code</label>
                    <input class="form-control" id="ne2" type="text" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="name">City</label>
                    <input class="form-control" id="name3" type="text" placeholder="Enter your name">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Country</label>
                    <input class="form-control" id="name4" type="text" placeholder="Enter your name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group text-dark">
                    <label for="name">Phone Number</label>
                    <input class="form-control" id="ne4" type="text" placeholder="Enter your name">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="mt-2 col-lg-12">
      <app-highlight-include [highlight]="'app/forms/components/dropdown-form/dropdown-form.component.html#card2'"></app-highlight-include>
    </div>
  </div>
</div>
<script>
  (function() {
    $('.collapsible').bind('click', function(ev) {
      var collapsed = $('.collapsible-form').toggleClass('d-none').hasClass('.d-none');
      $('.collapsible').find('.fa').toggleClass(collapsed ? 'fa-chevron-down' : 'fa-chevron-up');
    });
  })();
</script>
