<form  class="mt-3 collapsible-form">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-8">
      <div class="form-group text-dark">
        <label for="code" [translate]="'Requests.Preview.Code'"></label>
        <input [disabled]="true" class="form-control bg-white" id="code" name="code" type="text" [(ngModel)]="model.code">
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="form-group text-dark">
        <label for="actionStatusAlternateName" [translate]="'Requests.Preview.Status'"></label>
        <input [disabled]="true" class="form-control bg-white" id="actionStatusAlternateName"
               name="actionStatusAlternateName" type="text" [value]="'ActionStatusTypes.' + model.actionStatus.alternateName | translate"
               [ngClass]="{'text-primary': (model?.actionStatus?.alternateName ==='PotentialActionStatus' || model?.actionStatus?.alternateName ==='ActiveActionStatus'),
                                'text-danger': (model?.actionStatus?.alternateName ==='FailedActionStatus') || model?.actionStatus?.alternateName ==='CancelledActionStatus',
                                'text-success': model?.actionStatus?.alternateName ==='CompletedActionStatus'}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="form-group text-dark">
        <label for="additionalType" [translate]="'Requests.Preview.AdditionalType'"></label>
        <input [disabled]="true" class="form-control bg-white" id="additionalType" name="additionalType" type="text"
               [value]="'StudentRequestActionsTypes.' + model.additionalType | translate">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="model.name">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="form-group text-dark" >
        <label for="name" [translate]="'Requests.Edit.MessageTitle'"></label>
        <input [disabled]="true" class="form-control bg-white" id="name" name="name" type="text"
               [(ngModel)]="model.name">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="form-group text-dark">
        <label for="description" [translate]="'Requests.Edit.RequestTitle'"></label>
        <textarea [disabled]="true" class="form-control bg-white" id="description" rows="3"
                  [(ngModel)]="model.description" [maxLength]="512"  name="description" ></textarea>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group text-dark">
        <label for="dateCreated" [translate]="'Requests.Preview.DateCreated'"></label>
        <input [disabled]="true" class="form-control bg-white" id="dateCreated" name="dateCreated" type="text" [value]="model.dateCreated | date : 'shortDate'">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="form-group text-dark">
        <label for="dateModified" [translate]="'Requests.Preview.DateModified'"></label>
        <input [disabled]="true" class="form-control bg-white" id="dateModified" name="dateModified" type="text" [value]="model.dateModified | date : 'shortDate'">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <a href="#/requests/{{model?.id}}/edit" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Requests.Preview.Details' | translate }}</a>
    </div>
  </div>
</form>
