<div class="modal-header" *ngIf="modalTitle">
  <h5 class="modal-title">{{modalTitle | translate}}</h5>
  <button [disabled]="cancelButtonDisabled" (click)="cancel()" type="button" class="close" data-dismiss="modal"
    aria-label="Cancel">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div>
      <!-- search -->
      <div class="row mt-3">
        <div class="col-12 col-lg-3">
          <div class="input-group mb-3">
            <input spellcheck="false" type="text" (keyup)="onKeyUp($event)" [(ngModel)]="searchText"
              class="form-control bg-gray-100 border-0" placeholder="{{'Tables.SearchPlaceholder' | translate}}"
              aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-default bg-gray-100 border-0" type="button">
                <i class="fa fa-search text-secondary"></i>
              </button>
            </div>
          </div>
        </div>
        <div #emptyTable class="d-none">
          <div>
            <div class="mt-4">
              <div class="icon-circle bg-gray-300 border-gray-100"></div>
            </div>
            <div class="mt-4">
              <h4 class="font-3xl text-dark" [translate]="'Tables.EmptyTableTitle'"></h4>
              <p class="font-lg text-dark" [translate]="'Tables.EmptyTableMessage'"></p>
            </div>

          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="btn-toolbar">
            <button class="btn btn-gray-100">
              <i class="fa fa-sliders-h pr-2 text-secondary" aria-hidden="true"></i>{{'Tables.Filters' | translate}}
            </button>
            <div class="dropdown ml-3" dropdown>
              <button dropdownToggle class="btn btn-gray-100 dropdown-toggle" type="button" id="dropdownDefaultFilters"
                data-toggle="dropdown">
                {{ this.defaultFilter.name | translate }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownDefaultFilters" *dropdownMenu>
                <a class="dropdown-item" *ngFor="let filter of defaultFilters"
                  (click)="advancedSearch(filter.filter ? filter : '')">
                  {{ filter.name | translate }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-lg-right mt-3 mt-lg-0">
          <button [disabled]="true" class="btn rounded-pill btn-outline-theme">
            <span class="pr-2 font-lg">+</span><span [translate]="'Tables.AddItem'"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12" [ngClass]="{ 'component-loading': loading}">
          <app-advanced-table #advancedTable (init)="onTableInit($event)" (load)="onDataLoad($event)"
            [selectable]="true" [multipleSelect]="true" [scrollX]="false" [scrollY]="false" [pageLength]="pageLength"
            [scrollable]="false" [showFooter]="false" [showActions]="false" [lengthMenu]="lengthMenu"
            [config]="tableConfig" [configSrc]="tableConfigSrc"></app-advanced-table>
        </div>
      </div>
      <div class="row mt-3 table-custom-pager">
        <div class="col-12 d-flex" *ngIf="recordsTotal">
          <div class="mt-2 ml-auto mr-3 text-secondary" [translate]="'Tables.RecordsPerPage'"></div>
          <div class="dropdown mr-3" dropdown>
            <button dropdownToggle class="btn btn-gray-100 dropdown-toggle" type="button" id="dropdownPageSize"
              data-toggle="dropdown">
              {{pageLength}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownPageSize" *dropdownMenu>
              <button (click)="setLength(item)" class="dropdown-item dropdown-item-theme" type="button"
                *ngFor="let item of lengthMenu">{{item}}</button>
            </div>
          </div>
          <div class="mt-2 mr-2" [translate]="'Tables.PageInfo'" [translateParams]="pageInfo"></div>
          <button [disabled]="pageInfo && pageInfo.page === 0" class="btn text-nowrap" (click)="firstPage()">
            <i class="fa fa-chevron-left text-color-theme"></i>
            <i class="fa fa-chevron-left text-color-theme"></i>
          </button>
          <button [disabled]="pageInfo && pageInfo.page===0" class="btn" (click)="previousPage()">
            <i class="fa fa-chevron-left text-color-theme"></i>
          </button>
          <button [disabled]="pageInfo && pageInfo.page===pageInfo.pages-1" class="btn" (click)="nextPage()">
            <i class="fa fa-chevron-right text-color-theme"></i>
          </button>
          <button [disabled]="pageInfo && pageInfo.page===pageInfo.pages-1" class="btn text-nowrap"
            (click)="lastPage()">
            <i class="fa fa-chevron-right text-color-theme"></i>
            <i class="fa fa-chevron-right text-color-theme"></i>
          </button>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer justify-content-end">
  <button [disabled]="okButtonDisabled" (click)="ok()" type="button" [ngClass]="okButtonClass">
    {{okButtonText | translate}}
  </button>
  <button [disabled]="cancelButtonDisabled" (click)="cancel()" type="button" [ngClass]="cancelButtonClass"
    data-dismiss="modal">
    {{ cancelButtonText | translate}}
  </button>
</div>
