<i class="fa fa-edit fa-lg advanced-table-settings" (click)="openTableSettings(modal_settings_template)"></i>
<ng-template #modal_settings_template>
      <div class="modal-header">
        <h3 class="modal-title" [translate]="'Tables.ColumnDisplay'"></h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="form-group p-3 text-left" [formGroup]="form" (ngSubmit)="saveTableSettings()">
        <div class="modal-body">
          <p [translate]="'Tables.ColumnDisplayInfo'"></p>
            <div *ngFor="let column of form.controls.columns.controls; let i = index">
              <div formArrayName="columns">
                <input class="checkbox checkbox-primary" type="checkbox" [formControlName]="i" id="checkbox{{i}}">
                <label for="checkbox{{i}}">
                  {{columns[i].name | translate}}
                </label>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="dismiss()" [translate]="'Tables.Cancel'"> </button>
          <button type="submit" class="btn btn-success" [translate]="'Tables.Save'"></button>
        </div>
      </form>
</ng-template>
