<div  *ngIf="courseExamAction">
  <div class="row mt-3">
    <div class="col-12">

      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/exams', courseExamId, 'dashboard', 'grading']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Exams.BackToList'"></span>
      </a>

    </div>
  </div>

  <div class="row mt-3">
    <div *ngIf="courseExamAction.owner.id" class="col-12 col-md-12 col-lg-7">
      <span class="font-4xl">{{instructor?.familyName}} {{instructor?.givenName}}</span>
      <div class="font-lg">({{courseExamAction.owner.name}})</div>
    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.Submitted'"></span>
      </div>
      <div class="d-block font-lg">
        {{ courseExamAction?.dateCreated | date:'short' }}
      </div>
      <div class="d-block font-lg font-weight-bold text-gray-600 pt-3">
        <span [translate]="'Exams.DigitalSignature'"></span>
      </div>
      <div *ngIf="courseExamAction.additionalResult.signatureBlock" class="d-block font-lg">
        <a (click)="showCertificateModal()" href="javascript:void(0)">
          <span [translate]="'Exams.DigitalSignatureTrue'"></span>
          <i
            [ngClass]="{
              'fa-check bg-green': signatureVerified,
              'fa-times bg-red': !signatureVerified
            }"
            title="{{signatureVerified
              ? 'Exams.DigitalSignValid'
              : 'Exams.DigitalSignNotValid'
            | translate }}"
            class="fa text-light px-1 py-1 ml-1 rounded-circle font-xs align-middle exam-signature-attribute__icon-wrapper"
          ></i>
        </a>
      </div>
      <div *ngIf="!courseExamAction.additionalResult.signatureBlock">
        <span [translate]="'Exams.DigitalSignatureFalse'"></span>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-7">
      <div class="d-block">
        <h5 class="mb-0 text-truncate">{{courseExamAction?.object?.name}}</h5>
      </div>
      <div class="d-block font-lg text-secondary">
        <span [translate]="'Exams.ExamPeriod'"></span> - {{courseExamAction?.object?.examPeriod?.name}} {{courseExamAction?.object?.year?.alternateName}}
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.UploadNumber'"></span>
      </div>
      <span class="d-block font-lg">
        <span class="text-truncate">{{courseExamAction?.code}}</span>
      </span>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-7">

      <div class="row mt-1">
        <div class="col-12">
          <span class="text-secondary mr-3" *ngFor="let courseClass of courseExamAction?.object.classes ">
            <i class="fa fa-graduation-cap pr-1"></i>
              {{ "Periods." +courseClass?.courseClass?.period?.alternateName | translate}} {{ courseClass?.courseClass?.year?.alternateName }}
          </span>
          <span class="text-secondary mr-3"><i class="fa fa-graduation-cap pr-1"></i>{{courseExamAction?.object?.course?.department?.name}}</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{courseExamAction?.object?.course?.displayCode}}</span>
          <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{ 'Exams.Units' | translate }}: {{courseExamAction?.object?.course?.units}}  {{ 'Exams.ECTS' | translate }}: {{courseExamAction?.object?.course?.ects}}</span>
        </div>
      </div>
      <div class="row mt-3">
      <div class="col-12" *ngIf="courseExamAction.actionResult">
        <div *ngIf="courseExamAction.actionResult.actionStatus.alternateName==='CompletedActionStatus'" class="d-block font-lg text-success">
          <span [translate]="'Exams.AcceptGrades.title'"></span>
        </div>
        <div *ngIf="courseExamAction.actionResult.actionStatus.alternateName!=='CompletedActionStatus'" class="d-block font-lg text-danger">
          <span [translate]="'Exams.RejectGrades.title'"></span>
        </div>
        <div class="d-block font-lg">
          {{ courseExamAction?.actionResult.dateCreated | date:'short' }}, {{courseExamAction.actionResult.createdBy.alternateName}}
        </div>

      </div>
      </div>

    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.Attachment'"></span>
      </div>
      <span class="d-block font-lg">
        <span class="text-truncate">
          <a class="font-sm" href="javascript:void(0)" (click)="attachedGrades(courseExamAction.attachments)">{{courseExamAction.attachments[0].name}}</a>
        </span>
      </span>
    </div>
    <div class="col-12 col-md-12 col-lg-5 text-lg-right mt-3 mt-lg-0" *ngIf="useDigitalSignature">
      <div class="d-block font-lg font-weight-bold text-gray-600">
        <span [translate]="'Exams.DigitalSignature'"></span>
      </div>
      <div class="d-block font-lg">
        <span ><i class="fa fa-check mr-1 text-success font-2xl"></i><span [translate]="'Exams.CheckSuccessful'"></span></span>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 ">
      <span class="border-bottom d-block"></span>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 ">
      <span class="d-block font-lg"><span
        [translate]="'Exams.TotalGrades'"></span> : {{courseExamAction?.grades.length}}</span>

      <div class="mt-5 text-center" *ngIf="courseExamAction.actionStatus && courseExamAction.actionStatus.alternateName==='ActiveActionStatus'">
        <div class="btn-group-md" role="group">
          <button type="button" class="btn btn-outline-danger mx-3 px-5" [translate]="'Exams.Reject'" (click)="changeStatus('reject')"></button>
          <button type="button" class="btn btn-success mx-3 px-5 mt-3 mt-sm-0" [translate]="'Exams.Approve'" (click)="changeStatus('approve')"></button>
        </div>
      </div>

      <div class="col-12 mb-4">
        <app-advanced-table #grades></app-advanced-table>
      </div>
    </div>
  </div>
</div>

