<div *ngIf="request" class="card">
  <div class="card-body">
    <div>
      <span class="float-right text-dark">{{ request?.dateCreated | date:'short' }}</span>
      <div class="card-title  font-lg font-weight-normal" [translate]="'Requests.Edit.MessageTitle'"></div>
    </div>
    <div class="card-text mb-4">{{ request.additionalType==='RequestDocumentAction'? request.object?.name : request.name }}</div>
    <ng-container *ngIf="request?.description">
      <div class="card-title font-lg font-weight-normal pb-1" [translate]="'Requests.Edit.RequestTitle'"></div>
      <div class="card-text mb-2">{{ request?.description }}</div>
    </ng-container>
  </div>
</div>
