<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Students.ProgramGroups'" class="mr-3 my-auto"></h5>
  </div>
  <div class="card-body pt-0">
    <div id="group-list"  class="flex-column" *ngIf="programGroups && programGroups.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column d-block text-left" [translate]="'Students.CourseDisplayCode'"></div>
            <div class="sis--list-group-item_sm_column d-block text-left" [translate]="'Students.Name'"></div>
            <div class="sis--list-group-item_sm_column d-block text-left" [translate]="'Students.Description'"></div>
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let programGroup of programGroups | slice:0:3;">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column d-block text-left">
              <span class="font-xs text-secondary"> {{ programGroup?.programGroup?.displayCode }}</span>
            </div>
            <div class="sis--list-group-item_sm_column d-block text-left">
              <span class="font-xs text-secondary">{{ programGroup?.programGroup?.name }}</span>
            </div>
            <div class="sis--list-group-item_sm_column d-block text-left">
              <span class="font-xs text-secondary">{{ programGroup?.programGroup?.description }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="!programGroups || programGroups.length == 0">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
</div>
