<div *ngIf="model">
  <div *ngIf="model.students.length">
  <div class="card"  *ngFor="let student of model.students" >
    <div class="card-body ">
      <div>
        <a [routerLink]="['/theses', thesesID, 'dashboard', 'grades']"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Theses.Grades'" class="mr-3 my-auto"></h5>
          <h5  class="text-gray-600 font-xs my-auto d-inline-block" > {{student.student.person.familyName}} {{student.student.person.givenName}}</h5>
      </div>
    </div>
      <app-theses-dashboard-grades-instructors-form [source]="'overview'" [thesisResults]="student.results" ></app-theses-dashboard-grades-instructors-form>
    </div>
  </div>
  </div>
  <div *ngIf="model.students.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Theses.Grades'"></h5>
        <a [routerLink]="['/theses', thesesID, 'dashboard', 'grades']"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Theses.NoStudents'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
